// **********     colors       ********** //

$off-white: rgba(247, 247, 247, 0.66666);
$off-black: rgba(51, 51, 51, 0.9);


// *********    end colors    *********** //

// **********     sizes       ********** //
$browser-context: 16; // Default
$baby: 500px; //max-width
$mobile: 767px; //max-width
$tablet: 768px 1279px;
$desktop: 1280px;


$menu-lvl-base: 10;
$menu-lvl-base-1: $menu-lvl-base + 1;
$menu-lvl-base-2: $menu-lvl-base + 2;


// *********    end sizes    *********** //

