capture {
  display: block;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit-a {
    padding: 30px 15px;
    color: #333;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #e5e5e5;
}

.hero-unit-b {
  @extend .fill;
  padding: 16px 16px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #c1c0c0;
}



.inner-capture{
    // background: red;
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.col-left, .col-right {
    flex: 1;
    // background: blue;
    height: 100%;
    .capture-list {
      display: flex;
      width: 100%;
      flex-flow: column;
      height: 100%;
    }
    
}
.col-right {
  flex: 1;
  .capture-list-item{
      @extend .center-flex;
      font-size: 6rem;
      height: 100%;
      // background: green;
      overflow: hidden;
      margin: 0px 0px 8px 8px;
      border-bottom: solid 1px #888;
      img, canvas {
        @extend .center-child;
      }
      &:last-child{
        margin: 0px 0px 0px 8px;
        font-weight: 100;
        font-size: 3rem;
        cursor: pointer;
      }
    }

}
.col-left {
  .capture-list-item{
      @extend .center-flex;
      font-size: 6rem;
      height: 100%;
      // background: green;
      overflow: hidden;
      margin: 0px 8px 8px 0;
      border-bottom: solid 1px #888;
      img, canvas {
        @extend .center-child;
      }
      &:last-child{
        margin: 0px 8px 0px 0;
        font-weight: 100;
        font-size: 3rem;
        cursor: pointer;
      }
    }

}
.col-mid {
  flex: 2;
  // background: yellow;
  overflow: hidden;

  video {
    @extend .center-child;
    width: auto;
  }
}


